body{
    background: linear-gradient(rgba(0, 0, 0, 0.236), rgba(0, 0, 0, 0.6)), url(wallpaper1.png);
    background-size: cover;       
    background-repeat: no-repeat;
    background-attachment: fixed;
    border: black 20px;
    margin: 0;
    background-size: cover;
}
.shadow{
    color: white;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 1);
}

nav {
    height: 60px;
    background-color: black; 
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px;
}

nav button {
    background-color: transparent;
    border: 2px solid rgb(0, 0, 0);
    padding: 8px 20px;
    color: white;
    cursor: pointer;
    transition: all 0.3s ;
    margin-right: 6px;
}

nav button:hover {
    transform: scale(1.1);
    border: 2px solid black;
    background-color: #c8a96a;
}

nav button a {
    color: white;
    text-decoration: none;
    font-size: 15px;
    font-family: 'Lucida Sans', Geneva, Verdana, sans-serif;
}

nav p {
    margin: 0;
    display: flex;
    align-items: left;
    gap: 1px;
}
.info{
    background-color: rgba(255, 255, 255, 0.4);
    padding: 10px;
    border-radius: 10px;
}
